---
import { findContrastColor } from "color-contrast-finder";

export interface Props {
    unsplashUrl: string;
    unsplashColor: string;
}

const { unsplashUrl, unsplashColor } = Astro.props;

const contrastColor = findContrastColor({
    color: unsplashColor,
    highColor: "black",
    lowColor: "white",
});
---

<div
    class="background"
    style={`--unsplash-url: url(${unsplashUrl}); --unsplash-color: ${unsplashColor}; --unsplash-contrast-color: ${contrastColor};`}
>
    <div class="background-image"></div>
    <slot />
</div>

<script>
    import { rafDebounce } from "@utils/rafDebounce";
    const storeScroll = () => {
        document.documentElement.style.setProperty(
            "--scroll",
            `${window.scrollY}`,
        );
    };

    document.addEventListener("scroll", rafDebounce(storeScroll), {
        passive: true,
    });

    storeScroll();
</script>

<style lang="scss">
    .background {
        height: 100%;
        min-height: 100vh;
        min-height: 100dvh;
        color: var(--unsplash-contrast-color);
        --contrast-color: var(--unsplash-contrast-color);
        text-shadow:
            0 0 20px var(--unsplash-color),
            0 0 10px var(--unsplash-color),
            0 0 5px var(--unsplash-color),
            0 0 2px var(--unsplash-color);

        .background-image {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: filter 0.1s ease-in-out, opacity 0.1s ease-in-out;
            filter: blur(min(12px, calc(var(--scroll) * 0.04px)));
            opacity: calc(1 - min(0.1, calc(var(--scroll) * 0.2)));
            background:
                var(--unsplash-url) center center / cover no-repeat,
                var(--unsplash-color);
        }
    }
</style>
